@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #7b73d0;
}

#column-2 {
  background: #ed6d4d;
}

#column-3 {
  background: #ffe368;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: lightsalmon;
  }

  #column-1 {
    background-color: lightblue;
  }

  #column-2 {
    background-color: ivory;
  }

  #column-3 {
    background-color: lavenderblush;
    width: 100%;
  }

  footer {
    background-color: lightslategray;
  }

  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: lightgoldenrodyellow;
  }

  #column-1 {
    background-color: lightcyan;
  }

  #column-2 {
    background-color: lightsteelblue;
  }

  #column-3 {
    background-color: rosybrown;
    width: 33.3%;
  }

  footer {
    background-color: lightgray;
  }

  .col-3 {
    width: 33.3%;
  }
   
}
